<ul>
{% for article in entities %}
<li>
{{ article.titre }}<br />
Commentaires:
<ul>
{% for commentaire in article.commentaires %}
<li>{{ commentaire.titre}}</li>
{% endfor %}
</ul>
</li>
{% endfor %}
</ul>